.travel_mainDiv{
    border: 1px solid #6ee823;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
}

.travel_mainDiv img{
    width: 100%;
}

.travel_mainDiv hr{
    width: 300px;
}

.travel_mainDiv h5, .travel_mainDiv p{
    margin-left: 20px; 
}

.book_head { 
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block; }

.book_head i { 
    float: right;
}

.book_text span {
    color: #ff7700;
}